<div class="main-search-wrapper js-main-search-wrapper">
    <input class="main-search-box js-input" type="text" placeholder="Search" data-toggle-focus="main-search-dropdown" data-placeholder-map="{{ placeholder_map }}" data-placeholder-timeline="{{ placeholder_timeline }}" />
    <input class="main-search-submit js-submit" type="submit" value="">
    <div id="main-search-dropdown" class="main-search__dropdown dropdown-pane" data-dropdown="true" data-toggler="is-open">
        <div class="main-search__no-search-text is-hidden js-no-search-text--map">{{ no_search_map }}</div>
        <div class="main-search__no-search-text is-hidden js-no-search-text--timeline">{{ no_search_timeline }}</div>
        <div class="main-search__no-results-text is-hidden js-no-results-text">{{ no_results_text }}</div>
        <div class="main-search__no-results-text is-hidden js-loading-results-text">{{ searching_text }}</div>
        <ul class="main-search__results-listing is-hidden js-results-listing"></ul>
    </div>
</div>
